.movie-poster {
  display: flex;
  justify-content: center;
  transition: transform 500ms ease;
  cursor: pointer;
}

.movie-poster:focus,
.movie-poster:hover {
  transform: scale(1.2);
  z-index: 1;

}

.poster-image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.25);
}
