.movie-catalogue {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
  margin: 0 24px;
}

@media only screen and (max-width: 1440px) {
  .movie-catalogue {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .movie-catalogue {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .movie-catalogue {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 460px) {
  .movie-catalogue {
    grid-template-columns: 1fr;
  }
}