.movie-catalogue {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.results-title {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 16px;
  font-size: 1.75em;
  font-weight: lighter;
}

.movie-grid {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: max-content auto;
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
}

@media only screen and (max-width: 1600px) {
  .movie-catalogue {
    border-radius: unset;
  }
}

@media only screen and (max-width: 1440px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
