.poster-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  min-height: 756px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.glass {
  background: rgba(0, 0, 0, 0.85);
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 7em;
  column-gap: 32px;
  row-gap: 64px;
  padding: 5em 5em 0 5em;
  border-radius: 160px;
  /* box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.60); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.details {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  color: white;
}

.poster-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 1.75em;
}

.genre,
.overview {
  margin-bottom: 16px;
}

.genre {
  font-weight: lighter;
}

.overview {
  /* height: 100%; */
  margin-bottom: 16px;
  text-align: justify;
}

.trailer-container {
  width: 100%;
  height: 0;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  justify-self: flex-end;
  align-self: flex-start;
  padding-bottom: 56.25%;
  border-radius: 16px;
}

.trailer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  border-radius: 16px;
}

.stats {
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(2 auto);
  display: grid;
  row-gap: 8px;
}

.runtime h4,
.release-date h4,
.rating p {
  font-weight: 600;
}

.runtime p,
.release-date p,
.rating p {
  font-weight: lighter;
}

.runtime {
  grid-column: 1;
  grid-row: 1;
}

.release-date {
  grid-column: 1;
  grid-row: 2;
}

.rating {
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btm-menu {
  background: transparent;
  height: 100%;
  grid-column: 1 / span 2;
  grid-row: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  z-index: 1;
}

.btm-menu:after {
  background: rgba(255, 255, 255, 0.20);
  height: 1px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.close-info-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  font-weight: lighter;
  color: rgba(255, 255, 255);
  text-decoration: none;
  transition: background .25s;
  cursor: pointer;
}

.close-info-btn:hover {
  color: rgba(255, 255, 255, 0.60);
}

@media only screen and (max-width: 1024px) {
  .glass {
    grid-template-columns: auto;
    grid-template-rows: auto auto 6em;
    column-gap: unset;
    row-gap: 32px;
    padding: 2.5em 5em 0 5em;
  }

  .details {
    width: unset;
    height: 40%;
    grid-column: 1;
    grid-row: 2;
  }

  .trailer-container {
    width: 75%;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: flex-start;
    padding-bottom: 42.1875%;
  }

  .stats {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: unset;
  }

  .runtime,
  .release-date,
  .rating {
    justify-self: flex-start;
  }
  
  .runtime {
    grid-column: 1;
    grid-row: unset;
  }
  
  .release-date {
    grid-column: 2;
    grid-row: unset;
  }
  
  .rating {
    grid-column: 3;
    grid-row: unset;
    align-items: flex-start;
  }

  .btm-menu {
    grid-column: 1;
    grid-row: 3;
  }

  .loading {
    margin: auto auto;
    font-size: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .poster-section {
    min-height: unset;
  }
  .glass {
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    grid-template-rows: max-content auto 3.5em;
    padding: 0;
    border-radius: unset;
    box-shadow: unset;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .trailer-container {
    width: 100%;
    padding-bottom: 56.25%;
  }

  .trailer {
    border-radius: unset;
  }

  .details {
    padding: 0 24px;
  }

  .overview {
    /* max-height: 80px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  */
  }

  .overview::-webkit-scrollbar {
    display: none;
  }

  .btm-menu {
    align-items: center;
    padding-top: unset;
  }

  .btm-menu:after {
    left: 16px;
    right: 16px;
  }
}
