.poster-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.glass {
  background-color: black;
}

.details {
}

.poster-title,
.overview,
.runtime,
.release-date,
.rating,
.genre {
  
  color: white;
}

.rating {
  font-style: italic;
  margin-left: 1%;
}
