.app {
  background: radial-gradient(#2D3D4C, #202126);
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.not-found-msg {
  width: 100%;
  padding-top: 25vh;
  text-align: center;
}
