.preview {
  background: linear-gradient(to top, #354557, #202126);
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 40vw;
  max-height: 486px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: opacity, max-height;
  transition-duration: .50s;
}

.closed {
  max-height: 0px;
  opacity: 0;
}


.trending-title {
  width: 100%;
  max-width: 1600px;
}

.trending-container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  position: relative;
}

.top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.90));
  /* background: rgba(0, 0, 0, 0.75); */
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 10%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.60); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.trending {
  font-size: 32px;
  font-weight: lighter;
  line-height: 32px;
}

.movie-title {
  font-size: 64px;
  font-weight: normal;
  line-height: 72px;
}

@media only screen and (max-width: 1600px) {
  .preview {
    /* height: 558px; */
    margin: unset;
  }

  .top-img {
    border-radius: unset;
    box-shadow: unset;
  }
}

@media only screen and (max-width: 460px) {
  .preview {
    height: 162px;
  }
}