.preview {
  background: linear-gradient(to top, #354557, #202126);
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 40vw;
  max-height: 486px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: opacity, max-height;
  transition-duration: .50s;
}

.closed {
  max-height: 0px;
  opacity: 0;
}


.trending-title {
  width: 100%;
  max-width: 1600px;
}

.trending-container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
}

.top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  height: 100%;
  position: absolute;
  top: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.movie-title,
.trending {
  font-size: 36px;
  line-height: 36px;
}

.movie-title {
  font-size: 72px;
  line-height: 72px;
}

@media only screen and (max-width: 1600px) {
  .preview {
    /* height: 558px; */
    margin: unset;
  }

  .top-img {
    border-radius: unset;
    box-shadow: unset;
  }
}

@media only screen and (max-width: 460px) {
  .preview {
    height: 162px;
  }
}