.preview {
  background: linear-gradient(to top, #354557, #202126);
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 40vw;
  max-height: 486px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: opacity, max-height;
  transition-duration: .50s;
}

.closed {
  max-height: 0px;
  opacity: 0;
}


.trending-title {
  width: 100%;
  max-width: 1600px;
}

.trending-container {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  position: relative;
}

.top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-title {
  position: absolute;
  top: 32px;
  right: 32px;
  border-radius: 16px;
  font-size: 96px;
  font-weight: normal;
  font-family: 'mulanregular';
  line-height: 72px;
  color: #DD2619;
}

.trending {
  background: linear-gradient(to left, rgba(0, 0, 0, .25), rgba(0, 0, 0));
  width: 100%;
  position: absolute;
  bottom: 32px;
  padding: 16px 32px;
  font-size: 32px;
  font-weight: lighter;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

@media only screen and (max-width: 1600px) {
  .preview {
    margin: unset;
  }

  .top-img {
    border-radius: unset;
    box-shadow: unset;
  }
}

@media only screen and (max-width: 1024px) {
  .movie-title {
    font-size: 72px;
  }

  .trending {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .movie-title {
    top: 16px;
    right: 16px;
  }

  .trending {
    bottom: 16px;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 460px) {
  .movie-title {
    top: 0;
    font-size: 48px;
  }

  .preview {
    height: 162px;
  }
}

@font-face {
  font-family: 'mulanregular';
  src: url('./fonts/mulan-webfont.woff2') format('woff2'),
       url('./fonts/mulan-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}