header {
  background: radial-gradient(rgba(20, 20, 20), rgba(30, 30, 30));
  width: 100%;
  height: 4.5em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  z-index: 9999;
}

.header-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.movie-search-field {
  width: 40%;
  max-width: 576px;
  height: 40px;
  margin-right: 32px;
  padding-left: 16px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 8px;
  background: #d6d6d6;
}

.movie-search-field::placeholder {
  font-size: 1.25em;
  font-weight: 400;
  color:rgb(132, 132, 132);
}

.app-logo {
  font-size: 1.75em;
  font-family: sans-serif;
  color: white;
}

.user-menu-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
}

.user-menu-btn > img {
  width: 100%;
}

@media only screen and (max-width: 1600px) {
  header {
    border-radius: unset;
  }
}
